* {
	/* font-family: 'Permanent Marker', cursive; */
	font-family: 'Press Start 2P', cursive;
}

#polaroid {
	border: 1px solid darkslategrey;
	background-color: whitesmoke;
	width: 600px;
	height: auto;
	display: flex;
	flex-flow: column;
	justify-content: start;
	align-items: center;
}

canvas {
	border: 1px solid darkslategrey;
}

h1, h2 {
	padding: 4px 0 0 0;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}


#polaroid-footer {
	height: 100px;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.button {
	background-color: rgb(219, 175, 219);
	border-radius: 15px; 
	height: 50px;
	width: 220px;
	padding: 4px 0 0 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

ul {
	margin: 0;
	padding-left: 20px;
}

li {
	margin-top: 10px;
	text-transform: uppercase;
}

span {
	color: #23dd23;
}